.git
.next
node_modules
.yarn/cache
.yarn/install-state.gz
npm-debug.log*
yarn-error.log*
README.md
*.md
.env
.env.*
!.env.example
.DS_Store
.vscode
.idea
.prettierignore
.prettierrc
LICENSE
CODE_OF_CONDUCT.md
